{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong> WEEK6 CHANGE! Sreeja Gangapuram's Book Blog :)</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Awesome Book Reccomendations To Try</h5>
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/books.png') }}" alt="Flask Development" height="250">
                    <p class="card-text">
                        <ol>
                            <li>A Good Girl's Guide to Murder by Holly Jackson: "The case is closed. Five years ago, schoolgirl Andie Bell was murdered by Sal Singh. The police know he did it. Everyone in town knows he did it. But having grown up in the same small town that was consumed by the murder, Pippa Fitz-Amobi isn't so sure. When she chooses the case as the topic for her final year project, she starts to uncover secrets that someone in town desperately wants to stay hidden. And if the real killer is still out there, how far will they go to keep Pip from the truth?" (Goodreads).</li>
                            <li>The Silent Patient by Alex Michaelides: "Alicia Berenson’s life is seemingly perfect. A famous painter married to an in-demand fashion photographer, she lives in a grand house with big windows overlooking a park in one of London’s most desirable areas. One evening her husband Gabriel returns home late from a fashion shoot, and Alicia shoots him five times in the face, and then never speaks another word" (Goodreads).</li>
                            <li>Verity by Colleen Hoover: "Lowen Ashleigh is a struggling writer on the brink of financial ruin when she accepts the job offer of a lifetime. Jeremy Crawford, husband of bestselling author Verity Crawford, has hired Lowen to complete the remaining books in a successful series his injured wife is unable to finish. Lowen arrives at the Crawford home, ready to sort through years of Verity's notes and outlines, hoping to find enough material to get her started. What Lowen doesn't expect to uncover in the chaotic office is an unfinished autobiography Verity never intended for anyone to read. Page after page of bone-chilling admissions, including Verity's recollection of what really happened the day her daughter died" (Goodreads).</li>
                            <li>The Obsession by Jesse Q. Sutanto: "Nobody knows Delilah like Logan does. Nobody. He makes sure of it by learning everything he can through her social media and watching her through a hidden camera he has trained on her house. Some might call him a stalker. Logan prefers to be called “romantic.” But after Logan sees Delilah killing her abusive stepfather, he realizes there’s still more about her to discover. His sweet, perfect Delilah isn’t so perfect after all. Delilah knows she should feel guilty, but all she feels is free. She’s so over the men in her life controlling her. Except Logan saw what she did, and he won’t let her forget it. Delilah is done being the victim. And she refuses to be a character in Logan’s twisted fantasy. If Logan won’t let her go… she’ll make him" (Goodreads).</li>
                            <li>Then She Was Gone by Lisa Jewell: "THEN: She was fifteen, her mother's golden girl. She had her whole life ahead of her. And then, in the blink of an eye, Ellie was gone. NOW - It’s been ten years since Ellie disappeared, but Laurel has never given up hope of finding her daughter. And then one day a charming and charismatic stranger called Floyd walks into a café and sweeps Laurel off her feet. Before too long she’s staying the night at this house and being introduced to his nine year old daughter. Poppy is precocious and pretty - and meeting her completely takes Laurel's breath away. Because Poppy is the spitting image of Ellie when she was that age. And now all those unanswered questions that have haunted Laurel come flooding back. What happened to Ellie? Where did she go? Who still has secrets to hide?" (Goodreads).</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Exciting Releases to Look Foreward To</h5>
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/books3.jpg') }}" alt="Flask Development" height="250">
                    <p class="card-text">
                        <ol>
                            <li>It Starts with Us (It Ends with Us, #2) by Colleen Hoover.</li>
                            <li>Strike the Zither (Kingdom of Three, #1) by Joan He.</li>
                            <li>Bad Girl Reputation (Paperback) by Elle Kennedy.</li>
                            <li>Built to Last (Paperback) by Erin Hahn.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Amazing Authors</h5>
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/download.png') }}" alt="Flask Development" height="250">
                    <p class="card-text">
                        <ol>
                            <li>Linsday Puckett, author of "The Glass Witch." View her youtube channel here:https://www.youtube.com/c/LindsayPuckett.</li>
                            <li>Alexa Donne, author of "Brightly Burning" and "The Ivies." View her youtube channel here: https://www.youtube.com/c/AlexaDonne.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}